body {
    background-image:url("https://img.freepik.com/free-vector/white-abstract-background_23-2148805846.jpg?w=996&t=st=1697847021~exp=1697847621~hmac=3c637f018321b54389bf8a27da1179340d3ca40b3172aafc5599bea42922bcb9");
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: hsl(222, 70%, 67%);
}

form{
    margin-left: 50px;
    text-align:center
}
button{
    color: hsl(208, 66%, 68%);
}
h1{
        font-size: 45px;
        text-align: center;
        border-top: grey 8px solid;
        border-bottom: grey 8px solid;
}

.hidden { 
   display: none;
}
img{
    height: auto;
    width: 200px;
}
